html {
  /* scroll-behavior: smooth; */
}

.Footer{
  background: #fff; 
  padding: 70px 15vw; 
  display: flex;
}

.OptionBox{
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  background: #ffffff;
  border-radius:5px;
  max-width: 350px;
}

h1{
  font-family: 'Helvetica Neue', sans-serif; 
  color:#21222f;
  font-size:35px;
  font-weight:600;
  font-style: 'extra-bold'
}
h2{
  font-family: 'Helvetica Neue', sans-serif; 
  color:#21222f;
  font-size: 24px;
  font-weight:600;
  margin-bottom: 10px;
}
h3{
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 18px;
  font-weight:500;
  color:#21222f;
}
h4{
  font-family: 'Helvetica Neue', sans-serif; 
  margin-bottom: 5px;
  font-size: 16px;
  font-weight:500; 
  color:#21222f;
}
p{
  /* Muli */
  color:#21222f;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 16px;
  line-height: 1.43;
  font-weight:400; 
  margin-top: 5px;

}
/*soft paragraph*/
.SoftText{  
  color:#484848;
  font-weight:400; 

}

/*soft paragraph bold*/
.SoftBold{  
  color:#484848;
  font-weight:500; 
}

.ExtraSmallText{
  font-size: 14px;
}


@media screen and (max-width: 800px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 15px;
  }
  .Footer{
    padding: 70px 10vw; 
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20pt;
  }
  h2 {
    font-size: 15.5px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 14px;
  }
}

a{
  text-decoration: none;
}

.altFont{
  font-family: 'Domaine', serif;
}
/* Image */
.ImageHandler{
  cursor: pointer;
  position: absolute;
  object-fit: cover ;
  height: 100%;
  width: 100%;
  transition: all .2s; 
}
.ImageHandler:hover{
  opacity: .9;
}

.scrollable {
  height: 50px;
  overflow-y: scroll;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}