
button:hover{
  cursor: pointer;
}
button{
  
  border:0px;
}
button:focus {
  outline:0;
}

.MediumButton{
  font-family: 'Helvetica Neue', sans-serif; 
  display: inline-block; 
  padding: 10px 15px; 
  border: 1px solid #6c4ef5; 
  margin: 0px;
  border-radius: 3px; 
  background: #fff;
  box-sizing: border-box; 
  text-decoration:none; 
  font-weight:500; 
  font-size: 16px;
  color:#6c4ef5; 
  text-align:center; 
  transition: all .2s; 
}
.MediumButton:hover{
  color:#ffffff; 
  background-color:#6c4ef5;
}

.MiniMediumButton{
  font-family: 'Helvetica Neue', sans-serif; 
  display: flex; 
  align-items: center;
  padding: 5px 10px; 
  border: 1px solid #6c4ef5; 
  margin: 0px; 
  border-radius: 3px; 
  background: #fff;
  text-decoration:none; 
  box-sizing: border-box; 
  font-weight:600; 
  font-size: 14px;
  color:#6c4ef5; 
  text-align:center; 
  transition: all .2s; 
}
.MiniMediumButton:hover{
  color:#ffffff; 
  background-color:#6c4ef5;
}
.MiniMedWidth{
  width: 100px
}

.LargeButton{
  font-family: 'Helvetica Neue', sans-serif; 
  display: flex; 
  width:100%;
  padding: 8px; 
  border:1px solid #6c4ef5; 
  background-color:#6c4ef5;
  margin: 0px; 
  border-radius: 5px; 
  box-sizing: border-box; 
  text-decoration:none; 
  font-weight:400; 
  font-size: 18px;
  color:#fff; 
  text-align:center;
  justify-content: center; 
  transition: all .2s; 
}
.LargeButton:hover{
  background-color:#7c67fe;
  border: 1px solid #7c67fe;
}
.CircleButton{
  font-family: 'Helvetica Neue', sans-serif; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color:#6c4ef5;
  border-radius: 20px; 
  padding: 0px;
  width:40px;
  height:40px;
  border: 1px solid #6c4ef5;
  text-decoration:none; 
  color:#fff; 
 
  transition: all .2s; 
}
.SmallCircle{
  width:35px;
  height:35px;
  border-radius: 17.5px; 
}
.ExtraSmallCirlce{
  width:25px;
  height:25px;
  border-radius: 13px; 
}
.LargeCircle{
  width:50px;
  height:50px;
  border-radius: 25px; 
}
.CircleButton:hover{
  background-color:#7c67fe;
}
.InlineText{
  font-family: 'Helvetica Neue', sans-serif; 
  display: inline-block;
  line-height: 1.43;
  
  padding: 0px;
  background-color: transparent;
  text-decoration:none; 
  font-weight: 400;
  font-size: 16px; 
  color:#6c4ef5; 
  transition: all .2s; 
  border-bottom: #21222f;
}
.SimpleButton{
  font-family: 'Helvetica Neue', sans-serif; 
  display: flex;
  margin-top: 5px;
  margin-bottom: 16px;
  padding: 0px;
  align-items: center;
  background: transparent;
  text-decoration:none; 
  font-weight: 400;
  font-size: 16px; 
  color:#21222f; 
  transition: all .2s; 
  border-bottom: #21222f;
}
.SimpleButton:hover{
  color: #a6a6a6;
}

.UnderlinedButton{
  font-family: 'Helvetica Neue', sans-serif; 
  display: inline-block; 
  padding: 10px 5px; 
  border-bottom:1px solid #fff; 
  background-color: transparent;
  margin: 0px;  /* top right bottom left*/
  box-sizing: border-box; 
  text-decoration:none; 
  font-weight:500; 
  font-size: 14px;
  color:#21222f; 
  text-align:center; 
  transition: all .2s; 
}
.UnderlinedButton:hover{
  border-bottom:1px solid #6c4ef5; 
}
/* Stylings*/
.MedMargin{
  margin: 0px 10px 0px 10px; 
}
.NoMargin{
  margin: 0px;
}
.LightShadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}
.MediumShadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.HeavyShadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.Bold{
  font-weight:600;
}
.Skinny{
  font-weight:400;
}
.LargeText{
  font-size: 18px;
}
.SmallText{
  font-size:14px;
}
.BottomBorder{
  border-bottom:1px solid #282c3b;
}

/* Colors options for buttons */
.Clear{
  cursor: defualt;
  color: transparent;
  border-color: transparent; 
  background-color:transparent;
}
.Clear:hover{
  color: transparent;
  border-color: transparent; 
  background-color:transparent;
}

.FaceBookColor{
  border-color:#a6a6a6; 
  background-color:#fff;
  color:#3b5998; 
}
.FaceBookColor:hover{
  background-color:#fff;
  color: #6c4ef5;
  border-color: #6c4ef5; 
}

.SolidGreen{
  color: #ffffff;
  border-color:#008589; 
  background-color:#008589;
}
.SolidGreen:hover{
  background-color:#008589;
  border-color: #008589; 
}
.GreenWhite{
  border-color: #fff;
  color: #008589;
}
.Green:hover{
  border-color: #fff;
  color: #008589;
}
.SolidPurple{
  color:#fff;
  background-color:#6c4ef5;
  border-color: #6c4ef5; 
}
.SolidPurple:hover{
  background-color:#7c67fe;
  border-color: #7c67fe; 
}
.Purple{
  color:#6c4ef5;
  background-color: #fff;
  border-color: #6c4ef5; 
}
.Purple:hover{
  color:#7c67fe;
  background-color: #fff;
  border-color: #7c67fe; 
}
.PurpleClearBottom{
  color:#6c4ef5;
  background-color: #fff;
  border-color: #6c4ef5; 
  border-bottom-color: #fff;
}
.PurpleClearBottom:hover{
  background-color:#fff;
  border-color: #7c67fe; 
}
.PurpleTransparent {
  color:#6c4ef5;
  background-color: transparent;
  border-color: #6c4ef5; 
}
.PurpleTransparent:hover {
  color:#7c67fe;
  background-color: transparent;
  border-color: #7c67fe; 
}
.GrayPurple{
  color: #a6a6a6;
  border-color: #fff;
  background-color: #fff;
}
.GrayPurple:hover{
  color: #6c4ef5;
  border-color: #fff;
  background-color: #fff;
}
.SolidWhitePurple{
  color: #6c4ef5;
  border-color: #fff;
  background-color: #fff;
}
.SolidWhitePurple:hover{
  color: #7c67fe;
  border-color: #fff;
  background-color: #fff;
}

.SolidDark{
  color: #fff;
  border-color: #282c3b;
  background-color: #282c3b;
}
.SolidDark:hover{
  color: #fff;
  border-color: #21222f;
  background-color: #21222f;
}
.Dark{
  color: #21222f;
  border-color: #21222f;
  background-color: transparent;
}
.Dark:hover{
  color: #21222f;
  border-color: #21222f;
  background-color: transparent;
}
.SolidWhite{
  color: #21222f;
  border-color: #fff;
  background-color: #fff;
}
.SolidWhite:hover{
  color: #21222f;
  border-color: #fff;
  background-color: #fff;
}
.White{
  color: #fff;
  border-color: #fff;
}
.White:hover{
  color: #fff;
  border-color: #fff;
}
.SolidClear{
  color: #21222f;
  border-color: transparent;
  background-color: transparent;
}
.SolidClear:hover{
  color: #6c4ef5;
  border-color: transparent;
  background-color: transparent;
}

.Red{
  color:#FB3640;
  border: 1px solid #FB3640; 
}
.Red:hover{
  color:#fff;
  background-color:#FB3640;
  border-color: #FB3640; 
}
.SolidGray{
  color:#21222f;
  background-color:#f9f9fc;
  border-color: #f9f9fc; 
}
.SolidGray:hover{
  background-color:#f9f9fc;
  border-color: #f9f9fc; 
}

.Gray{
  color: #21222f;
  border-color: #a6a6a6;
  background-color:#fff;
}
.Gray:hover{
  color:#6c4ef5;
  background-color:#fff;
  border-color: #6c4ef5; 
}

.Disabled{
  border-color:transparent; 
  background-color:transparent;
  color:#a6a6a6; 
}
.Disabled:hover{
  /* cursor: default; */
  border-color:transparent; 
  background-color:transparent;
  color:#a6a6a6; 
}


.ListButton{
  padding: 15px 20px;
  text-decoration:none; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight:600; 
  font-size: 14px;
  color:#6c4ef5;  
  background-color: transparent;
  transition: all .2s; 
}
.ListButton:hover{
  color: #6c4ef5; 

}

.ListButtonBlack{
  padding: 15px 20px;
  text-decoration:none; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight:600; 
  font-size: 14px;
  color:#484848;  
  background-color: transparent;
  transition: all .2s; 
}
.ListButtonBlack:hover{
  color: #484848; 

}



.BackButton{
  display: flex; 
  flex: 1;
  width: 150px;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0px; 
  background-color:#ffffff;
  margin: 0px 0px 0px 0px; 
  border-radius: 5px; 
  box-sizing: border-box; 
  text-decoration:none; 
  font-weight:500; 
  font-size: 12pt;
  border:0px;
  color:#6c4ef5; 
  transition: all .2s; 
}
.BackButton:hover{
  color:#6c4ef5; 
  padding-right:10px;
}
.TrashButton{
  position: absolute;
  display: flex; 
  align-items: center;
  top: 10px;
  right: 10px;
  border: 2px solid #9e9e9e;
  text-decoration:none; 
  background-color: #000000; 
  border-radius:5px;
  opacity: .7;
}
.TrashButton:hover{
  border-color:#ffffff;
  border-radius:5px;
}

.SendButton{
  display: flex; 
  width: 70px;
  border:0px;
  justify-content: space-between;
  align-items: center;
  background-color:#ffffff;
  box-sizing: border-box; 
  text-decoration:none; 
  font-weight:500; 
  font-size: 11pt;
  color:#000; 
  transition: all .2s; 
}
.SendButton:hover{
  color:#6c4ef5; 
}

.DashMain{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  background-color:transparent ;
  border-right: 5px solid transparent;
  text-decoration:none; 
  font-weight:300; 
  font-size: 14pt;
  text-indent: 70px;
  padding:15px 30px;
  transition: all .2s;
  color: #21222f;
}
.On{
  background-color:#6c4ef5 ;
  color: #fff;
  font-weight:400;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); */
}
.Off{
  background-color: transparent;

}
.Off:hover{
  background-color: #f9f9fc;

}

.SwitchOn{
  display: flex; 
  box-sizing: border-box; 
  text-decoration:none; 
  color: #2E3440;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  transition: all .2s;
  background: #fff;
  border-left: 2px solid #2E3440;
  font-weight: 500;
}
.SwitchOff{
  display: flex; 
  box-sizing: border-box; 
  color: #585d66;
  text-decoration:none; 
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  transition: all .2s;
  background: #fff;
  border-left: 2px solid #eaebec;
}
.SwitchOff:hover{
  font-weight: 500;
  color: #2E3440;
  border-left: 2px solid #2E3440;
}

/* .DashMainOn:hover{
  background-color:#1573d6;
} */

.DashSubOff{
  display: flex; 
  align-items: center;
  border-radius: 3px; 
  height:40px;
  box-sizing: border-box; 
  text-decoration:none; 
  font-weight:500; 
  font-size: 14pt;
  transition: all .2s;
  margin-right: 5px;
  margin-left: 5px;
  
  background: #f9fafc;
}
.DashSubOff:hover{
  color:#6c4ef5;
}
.DashSubOn{
  display: flex; 
  align-items: center;
  border-radius: 3px; 
  height:40px;
  background-color:#6c4ef5;
  box-sizing: border-box; 
  text-decoration:none; 
  font-weight:500; 
  font-size: 14pt;
  transition: all .2s;
  margin-right: 5px;
  margin-left: 5px;
  color: #fff;
}
.DashSubOn:hover{
  background-color:#7c67fe;
  
}


.DashListing{
  position: relative;
  display: flex;
  margin-top: 20px;
  /* border: 1px solid #e0e0e0; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  min-height:200px;
  border-radius:5px;
  min-width:100px;
  width:100%;
  background: #fff;
}
.DashListing:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.DashNotif{
  position: relative;
  display: flex;
  margin-top: 20px;
  padding: 10px;
  /* border: 1px solid #e0e0e0; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius:5px;
  min-width:100px;
  width:100%;
  background: #fff;
}
.DashNotif:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.DashStay{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  min-height:250px;
  border-radius:5px;
  width:400px;
  background: #fff;
}
.DashStay:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.BigBack{
  display: flex; 
  align-items: center;
  height:40px;
  width:50px;
  box-sizing: border-box; 
  text-decoration:none; 
  font-weight:500; 
  font-size: 14pt;
  transition: all .2s;
  margin:5px;
  background: #f9fafc;
}
.BigBack:hover{
  padding-left: 15px;
}

.FilterButton{
  background-color: transparent;
  display: inline-block; 
  padding: 8px;
  margin: 10px 10px 10px 0px;
  min-width: 80px;
  border-radius: 8px; 
  background-color: #fff;
  border: 1px solid#d5d9e0;
  box-sizing: border-box; 
  text-decoration:none; 
  font-weight:500; 
  font-size: 14px;
  color:#21222f;
  text-align:center; 
  transition: all .2s; 
}
.FilterSelected{
  border: 1px solid#6c4ef5;
  background-color: transparent;
}
.FilterSelected:hover{
  border: 1px solid#6c4ef5;
  background-color: transparent;
}
.FilterButton:hover{
  border: 1px solid#282c3b;

}
