.SubPageRoot {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
  padding-top: 20px;
  max-width: 800px;
  width: 60vw;
  min-height: 590px;
  overflow: auto;
}
.CreateMainHeader{
  margin-right: 130px;
}
@media screen and (max-width: 800px) {
  .CreateMainHeader{
    margin-right: 0px;
  }
}