.DashboardSubPageMain{
    display: flex;
    flex-direction:column;
    width:90%;
    margin:20px; 
    margin-top:0px;
    min-width:200px;
}
@media screen and (max-width: 800px) {
    .DashboardSubPageMain {
        width:100%;
    }

  }
.DashboardSubPageWrapper{
    display:flex;
    flex: 1;
    flex-direction:column;
    align-items:space-between;
    margin:10px;
}
.DashboardSubPageHeader{
    display:flex;
    flex-direction:row;
    justify-content:space-between; 
    align-items:flex-end;
}

.DashboardHeaderText {
    display: flex;
    flex-direction: column;
}


.DashReservation{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    min-height:200px;
    border-radius:5px;
    min-width:100px;
    width:100%;
    background: #fff;

}
.DashCharge{
    display: flex; 
    width:calc(100% - 60px);
    padding: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    margin-Bottom:20px;
}
.SettingsPicture{
    position: relative;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width:100px;
    height: 100px;
    margin: 10px;
}
.SettingsPicture:hover{
    cursor: pointer;
    filter: blur(1px);
}

.SubListingRoot{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    min-width: 0px;
}
.SubListingHeader{
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    background-color: #f9fafc;
    border-bottom: 1px solid #e0e0e0;
}
.SubListingMain{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex: 1;
    width: 80%;
}

.DashboardHeader {
    margin-right: 10;
    margin-bottom: 0;
}

.NothingToShowGraphic {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    max-width: 550px;
    text-align: center;
}