/* require.resolve('react-dates/lib/css/_datepicker.css')  */


.CalendarDay{
  font-weight: 600;
}
.CalendarDay__selected_span {
  background: #008589; 
  color: #fff; 
  border-width: 0px;
} 
.CalendarDay__selected_span:hover {
  background: #80c1c2; 
  color: #fff; 
  border-width: 0px;
} 

.CalendarDay__selected {
  background: #008589;
  border-color: #008589;
  border-width: 0px;
  color: #fff;
}
.CalendarDay__blocked_calendar{
  background: #fff;
  border: 1px solid #e4e7e7;
  color: #cacccd;
}
.CalendarDay__blocked_calendar:hover{
  background: #fff;
  border: 1px solid #e4e7e7;
  color: #cacccd;
}
.CalendarDay__selected:hover {
  background: #008589;
  border-width: 0px;
  color: #fff;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #bdf1f3;
  border-color: #51e2e7;
  color:#008589;
}





/* DO NOT CHANGE */
.DateRangePickerInput__withBorder {
  border-radius: 10px;
}
.DateRangePickerInput{
  border-radius: 10px;
}
.DateRangePicker{
  border-radius: 10px;
}
.DateRangePicker_1{
  border-radius: 10px;
}
.DateInput_input{
  width: calc(100% - 22px);
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight:400; 
  color:#21222f;
  font-size: 18px;
  border-radius: 10px;
}
.DateInput_input__small{
  font-size: 16px;
}
.DateInput{
  border-radius: 10px;
}
.DateInput_input__focused{
  border-bottom: 2px solid #6c4ef5;
}
.input{
  border-radius: 10px;
  font-family: 'Helvetica Neue', sans-serif; 

}

@media screen and (max-width: 800px) {
  .DateRangePicker_picker{
    width: 60%;
  }
}

