
.Header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw; /* Full width */
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 0px;  */
}

.HostHeaderImage{
  display: flex;
  flex-direction: column;
  background-image: url('../Assets/dude-tablet-landing-photo.jpg');
  background-size: cover;
  background-position: 0% 30%;
  height: calc(100vh - 70px);
  object-fit: cover;
}
