.Cards {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.Card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  width: 20vw;

  min-width: 225px;
  max-width: 270px;
  border-radius: 5px;
}
.ColoredCard{
  background-color: #ff749a;
  color: #fff;
}

.featuredListing {
  position: relative;
  overflow: hidden;
  width: 300px;
  margin: 10px;
}
.featuredListingMedia{
  height: 200px;
  width: 100%;
  border-radius:5px;
  
  transition: all 0.2s;
  
}

.featuredListingMedia:hover {
  transform: scale(1.05);
}
/* Flexbox styles */
/* source: https://codepen.io/mynoralexander/pen/gpyYOo */

/* mq 40em*/
/* @media screen and (min-width: 40em) {  
  .cards {
    margin-top: 10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 10;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
  }
}  */

/* mq 60em*/
/* @media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }
  
  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em); */
    /* width: calc(33% - 1em); */
  /* }
}  */