.MainListing{
    display: flex;
    flex: 1; 
    flex-direction: column;
}
.FilterBox{
    position: absolute;;
    left: 605px;
    margin-top:70px;
    padding: 5px 5px;
    background-color: #fff;
    border: 2px solid #6c4ef5; 
    border-radius: 3px; 
    width: calc(100% - 624px);

}
.FilterInner{
    display: flex;
    flex-direction: column;

}
.FilterSlider{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 200px;
}
.FilterSub{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin:20px;
    margin-right:30px;
    margin-top:10px;
    
}
.Search{
    display:flex;
    flex: 1;
    z-index: 3;
    margin: 10;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content:center ;
    align-items:center;
}

.ListingItemRootColumn{
    text-decoration:none;
    color: #000;
    width:50%;
    min-width:350px;
}
.ListingItemRootRow{
    width:100%;
    text-decoration:none;
    color: #000;
}

.ListingItemSubColumn{
    display: flex;
    flex-direction:column;
    background-color: #fff;
    height:370px;
    border-radius:5px;
    margin:20px; 
}
.ListingItemImageColumn{
    height: 83%;
    width:100%;
    border-radius:5px;
    object-fit: cover;
}
.ListingItemSubRow{
    display: flex;
    flex-direction:row;
    background-color: #fff;
    height:150px;
    width:calc(100% - 40px);
    border-radius:5px;
    margin:20px; 
    margin-bottom: 0px;
}
.ListingItemImageRow{
    height: 100%;
    width:40%;
    border-radius:5px;
    object-fit: cover;
}
.ListingItemSubShadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

div.ListingItemSubShadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}


.location-search-input{
    width: 100%;
}
.autocomplete-dropdown-container{
    position: absolute;
    top: calc(100% + 5px);
    left:0px;
    border-radius:5px;
    background: #fff;
    z-index: 10;
}
.SearchMain{
    display:flex ;
    flex:1;
    /* border-radius:5px;
    border:1px solid #e0e0e0;
    position: relative;
    margin: 1px; */

}
.SearchMain:hover{
    /* margin: 0px;
    border:2px solid #d5d9e0; */
}

.ClearButton{
    color:#d5d9e0;
    transition: all .2s; 
}
.ClearButton:hover{
    cursor: pointer;
    color:#000;
}


/* booking box */
.BookingBox {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    min-width: 240px;
    min-height: fit-content;
    margin: 20px;
    margin-right: 0px;
    margin-top: 30px;
    padding: 20px;
}

.HostBox {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: fit-content;
    margin: 20px;
    margin-right: 0px;
    padding: 20px;
}

.PaymentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 330px;
    margin: 10px;
    margin-top: 30px;
    padding: 20px;
}

.CheckoutForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 500px;
    width: 450px;
    margin: 10px;
    margin-top: 30px;
    padding: 20px;
}

.ConfirmPayment {
    display: flex; 
    flex-direction: column;
    max-width: 500px;
    min-height: 330px;
    margin: 10px;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #fff;
}


@media only screen and (min-width: 601px) {
    .CheckoutForm {
        min-width: 400px;
    }
    .ConfirmPayment {
        min-width: 330px;
    }
}

@media only screen and (max-width: 870px) {
    .ConfirmPayment {
        max-width: 330px;
    }
}

@media only screen and (max-width: 600px) {
    .CheckoutForm, .ConfirmPayment {
        width: 70vw;
        min-width: 50vw;
    }
}


/* TODO: fix styling for pagination component, example styling is shown here */
ul.pagination{
    display: flex;
    justify-content: center;
    padding: 0px;

}
.pagination li {
    
    cursor: pointer;
    display: inline-block;
    padding: 10px 0px;
    font-family: 'Helvetica Neue', sans-serif; 
    
    border-radius: 3px; 
    background: transparent;
    box-sizing: border-box; 
    text-decoration:none; 
    font-weight:500; 
    font-size: 16px;
    color:#6c4ef5; 
    text-align:center; 
    transition: all .2s; 
}

.pagination .active {
    background: #6c4ef5;
    color:#fff; 
}
.pagination .disabled {
    background: transparent;
    color:#a6a6a6; 
}
.pagination li a{
    padding: 10px 15px;
}
.pagination li a:focus{
    outline:0;
}



