.PaymentOuterBig{
    width: 100%;
    min-width: 160px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}
.PaymentFocusBig{
    width: 100%;
    min-width: 160px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6c4ef5;
}

.PaymentOuterSmall{
    width: 100%;
    min-width: 60px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}

.PaymentFocusSmall{
    width: 100%;
    min-width: 60px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6c4ef5;
}