.StaticMain{
    margin-top:70px;
    display: flex;
    position: relative;
    flex-direction: column;
}
.StaticHeader{
    display:flex;
    margin-left:10vw ;
    margin-right:10vw;
    margin-top: 10vh;
    height: calc(90vh - 70px) ;
    justify-content: space-around;
}

.StandardMargin{
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
    margin-left: 15vw;
}

.TighterMargin{
    display: flex;
    flex-direction: column;
    margin-right: 19vw;
    margin-left: 19vw;
}

.TitleText{
    font-size: 50px;
    font-weight:600;
    margin-top: 0px;
}
.CapsText{
    font-weight: 900;
    color:#6c4ef5
}
.SubTitleText{
    color: #5E6C77;
    font-size: 18px;
    line-height: 1.4;
}

.LightBold{
    font-weight: 450;
}


@media screen and (max-width: 800px) {
    .StandardMargin, .TighterMargin{
        margin-right: 10vw;
        margin-left: 10vw;
    }

    .TitleText{
        font-size: 40px;

    }
    .SubTitleText{
        font-size: 16px;
    }
}

.SkinnyHeader{
    font-weight: 500;
}
.ExtraSkinnyHeader{
    font-weight: 300;
}

.SoftHeader{
    color:#484848;
    font-weight: 500;

}
.SmallListingsText{
    font-size: 13px;
    color: #484848;
    font-weight: 450;
    margin-bottom: 0;
    margin-top: auto;
}

.GrayText{
    color: #787878;
}
.PurpleText{
    color: #6c4ef5;
}
.DarkText{
    color: #21222f;
}

.DisabledText{
    color: #a6a6a6;
}

.PoliciesHeader {
    margin: 0px;
    font-weight: 500;
    color: #21222f;
}
.PoliciesHeader:hover {
    color: #484848;
}

.LandingMain{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.HomeLandingMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
    z-index: 2;
}

/* Gradients */
.LandingHeader{
    position: relative;
    display: flex;
    width: 50%;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 70px;
    padding-top: 150px;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#f4e6ff), to(#f7f5ff));
    background-image: linear-gradient(180deg, #f4e6ff, #f7f5ff); */
    background: #F6F9FC;
    opacity: 1; 
    overflow: hidden;
}

.LandingImage {
    z-index: 1;
    display: flex; 
    flex-direction: column;
    width: 50vw;
    object-fit: cover;
    height: calc(100vh - 70px);
}

@media only screen and (max-width: 800px) {
    .LandingMain {
        flex-direction: column;
    }
    .LandingHeader {
        padding-top: 50px;
        padding-left: 30px; 
        padding-right: 30px;
    }
    .HomeLandingMain {
        flex-direction: column-reverse;
    }

    .LandingHeader {
        width: auto;
    }

    .LandingImage {
        width: 100%;
        height: auto;
    }
}

.BlueGradient{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e6f9ff), to(#f7f5ff));
    background-image: linear-gradient(180deg, #e6f9ff, #f7f5ff);
}
.RedGradient{
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#f4e6ff), to(#f7f5ff));
    background-image: linear-gradient(180deg, #f4e6ff, #f7f5ff); */
    background: #FAFAFA;
}

.GradientCut{
    position: absolute;
    overflow: hidden;
    top: auto;
    right: 0%;
    bottom: -80px;
    width: 150%;
    height: 300px;
    background-color: #fff;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    z-index: 1;
}
.OppositeGradientCut{
    position: absolute;
    overflow: hidden;
    left: -10%;
    top: auto;
    right: 0%;
    bottom: -80px;
    width: 150%;
    height: 300px;
    background-color: #fff;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    z-index: 1;
}

.OverFlowEllipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.OverFlowEllipsisWrap {
    text-overflow: ellipsis;
    overflow: hidden;
}

.SmallIconTextBox {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 160px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
