<p>Welcome <%= @user.first_name %>! Thanks for signing up with SummerStay!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', "/confirmation?confirmation_token=#{@token}"  %></p>
