Congratulations! <%= @recipient.first_name %> has requested to book your apartment this summer. Click here to see the details. You now have three days to accept the booking or it will be automatically declined.
<br />

Cheers,
SummerStay Team
