Hey <%= @host.first_name %>
<br/>
Your listing "<%= @listing.listing_name %>" was successfully booked by <%= @guest.first_name %> <%= @guest.last_name %>!
<br/>

<%
=begin%>
 Click here to view details
<br /> 
<%
=end%>

Summer Stay Team