Dear <%= @guest.first_name %>
<br />
Unfortunately your booking request has been denied or the offer has timed out. Click here to search for more apartments to find your perfect, affordable SummerStay!
<br />
Cheers,
SummerStay Team
